 /* Estilos CSS para o jogo */
 canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}

#startButton, #pauseButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#score, #timer {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30vw;
    height: 3vh;
}

.victory-message {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
padding: 20px;
border-radius: 10px;
font-size: 24px;
z-index: 9999;
}
